//Import general styling
@import "./style/general/typography.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;800&display=swap");
// font-family: 'Source Code Pro', monospace;

//Colors
$primary-color: #ff0000;
$secondary-color: #ffff00;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

.webgl {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  outline: none;
}

.rover-container,
.core-container {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: black;
  color: #a8cfe7;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  padding: 2%;
  // line-height: 40px;
}

button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}

.rover-container.active,
.core-container.active {
  visibility: visible;
  opacity: 1;
}
